<h1>Welcome to QuizApp!</h1>

<h2>Sign up today for hours of fun!</h2>

<h2>Existing user? Log in to get back to your Quizzes!</h2>

<hr />

<h4>Creator: Tanmai Khanna (20161212)</h4>

<hr />

<h1>Hope you enjoy the quiz!</h1>

<%= link_to "To Main", "/genres" %>