
	<div class="header">
  		<div class="container">
        <h1>Quiz App</h1>
  		</div>
  </div>
	
  <div class="quiz">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <h2><%= @quiz.name %></h2>
        <h3>Score: <%= @score.score %> </h3>

        <h2><%= link_to "Start Quiz!", "/questions/" + @questions.first.id.to_s %></h2>

      </div>
    </div>
  </div>
  <br />
   <%= link_to "Back to Main", "/genres" %>

</div> 