
	<div class="login">
		<div class="container">
			<div class="form">

      		<h1>Log in</h1>
		
			<%= form_for(:session, url: login_path) do |s| %>

			<%= s.email_field :email, :placeholder => "Enter your Email" %>
			<%= s.password_field :password, :placeholder => "Enter your password" %>
			<%= s.submit "Log in", class: "btn-submit" %>

			<% end %>	
		
 		   </div>
		</div>
	</div>
